# Compiled object files
*.o

# Executable output
pft_app
*.out
*.exe

# Build folders
build/

# MySQL / config secrets
config.ini

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Linux / macOS system files
.DS_Store

# VS Code
.vscode/

# CLion / JetBrains
.idea/

# Vim swap files
*.swp